<h5 class="plan-text">プランテキスト</h5>
<div class="plan-price">
  <div class="price-outer">
    <span class="mark-yen">￥</span>
    <span class="price">5,000</span>
  </div>
  <p class="unit">月額</p>
</div>
<p class="plan-info">入会金0円</p>
<p class="plan-info">平日:9時～17時</p>
<p class="plan-info">土日祝:利用ナシ</p>
<p class="plan-info">コアタイムでの利用に最適なプラン</p>

<div class="plan-even">
  <h5 class="plan-text-even">プランテキスト</h5>
  <div class="plan-price-even">
    <div class="price-outer-even">
      <span class="mark-yen-even">￥</span>
      <span class="price-even">5,000</span>
    </div>
    <p class="unit-even">月額</p>
  </div>
  <p class="plan-info-even">入会金0円</p>
  <p class="plan-info-even">平日:9時～17時</p>
  <p class="plan-info-even">土日祝:利用ナシ</p>
  <p class="plan-info-even">コアタイムでの利用に最適なプラン</p>
</div>
