@use "../../variables" as *;

.news-and-events-title {
  margin-bottom: 42px;
}

.events-info-frame {
  margin-bottom: 40px;
  width: 90%;

  .events-info-outer {
    border: solid 1px $gray_gainsboro;
    height: 69px;
    background-color: $white;
    transition: ease 0.2s;

    &:hover {
      background-color: $gray_gainsboro;
    }

    .events-info-link {
      text-decoration: none;

      .events-img {
        display: none;
      }

      .events-article {
        color: $black;
        font-size: $fontsize-M;
        font-family: $fontfamily-gothic;
        margin: 0;
        padding: 10px 0 0 20px;
      }

      .events-data {
        font-size: $fontsize-XS;
        color: $gray_nobel;
        font-family: $fontfamily-gothic;
        margin: 0;
        padding: 8px 0 0 20px;
      }
    }
  }
}

.info-more {
  margin-left: 400px;
}

@media screen and (min-width: $breakpoint-md) {
  .events-info-frame {
    width: 720px;
  }

  .info-more {
    margin-left: 606px;
  }
}

@media screen and (min-width: $breakpoint-lg) {
  .events-info-frame {
    width: 460px;

    .events-info-outer {
      height: 141px;

      .events-info-link {
        &:hover .events-img {
          transform: scale(1.2);
        }

        .events-img-outer {
          width: 221px;
          height: 141px;
          overflow: hidden;
          float: left;

          .events-img {
            display: inline;
            float: left;
            width: 221px;
            height: 141px;
            transition: ease 0.5s;
          }
        }
        .events-article {
          padding: 37.5px 0 0 245px;
        }
        .events-data {
          padding-left: 245px;
        }
      }
    }
  }

  .info-more {
    margin-left: 346px;
  }
}
