<div class="news-and-events-title">
  <h2 class="news">Event</h2>
  <p class="info">イベント</p>
</div>
<div class="events-info-frame">
  <article class="events-info-outer">
    <a href="#" class="events-info-link">
      <div class="events-img-outer">
        <img
          class="events-img"
          src="./article-office.png"
          alt="オフィスの画像"
        />
      </div>
      <div class="events-article-outer">
        <p class="events-article">
          全ての業種に対応した起業応援セミナーを開催します。
        </p>
        <time class="events-data">2018.08.23</time>
      </div>
    </a>
  </article>
  <article class="events-info-outer">
    <a href="#" class="events-info-link">
      <div class="events-img-outer">
        <img class="events-img" src="./article-work.png" alt="仕事の画像" />
      </div>
      <div class="events-article-outer">
        <p class="events-article">
          第3回Switchクリエイター交流会開催いたします!
        </p>
        <time class="events-data">2018.08.23</time>
      </div>
    </a>
  </article>
  <article class="events-info-outer">
    <a href="#" class="events-info-link">
      <div class="events-img-outer">
        <img class="events-img" src="./article-book.png" alt="本の画像" />
      </div>
      <div class="events-article-outer">
        <p class="events-article">
          Webビジネス初心者の方必見！Webサイト作成講座を3回にわたって開催します。
        </p>
        <time class="events-data">2018.08.23</time>
      </div>
    </a>
  </article>
</div>
<a href="#" class="info-more">
  イベント一覧
  <i
    href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
    rel="stylesheet"
    class="fas fa-chevron-right"
  ></i>
</a>
