@use "../../variables" as *;

.organisms-events {
  margin-bottom: 35px;

  .news-and-events-title {
    margin-bottom: 42px;
  }

  .events-info-frame {
    margin-bottom: 40px;

    .events-info-outer {
      border-bottom: solid 1px $gray_gainsboro;
      border-left: solid 1px $gray_gainsboro;
      border-right: solid 1px $gray_gainsboro;
      height: 69px;
      background-color: $white;
      padding: 0 20px;

      &:first-child {
        border: solid 1px $gray_gainsboro;
      }

      .events-info-link {
        text-decoration: none;
        display: flex;
        align-items: center;

        .events-img {
          display: none;
        }

        .events-article-outer {
          overflow: hidden;

          .events-article-title {
            color: $black;
            font-size: $fontsize-M;
            margin: 0;
            margin-top: 10px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            overflow: hidden;
          }

          .events-data {
            font-size: $fontsize-XS;
            color: $gray_gainsboro;
            margin: 0;
            margin-top: 8px;
          }
        }
      }
    }
  }

  .info-more-outer {
    display: block;
    text-align: right;
  }

  @media screen and (min-width: $breakpoint-lg) {
    .events-info-frame {
      .events-info-outer {
        height: 141px;
        padding: 0;

        .events-info-link {
          overflow: hidden;
          &:hover .events-img {
            transform: scale(1.2);
          }

          .events-img-outer {
            width: 221px;
            .events-img {
              display: inline;
              width: 221px;
              height: 141px;
              transition: ease 0.5s;
            }
          }

          .events-article-outer {
            margin-left: 24px;
          }
        }
      }
    }
  }
}
