@use "../../variables" as *;

.card {
  border: none;
  position: relative;

  &::before {
    z-index: 1;
    content: "";
    position: absolute;
    border-bottom: solid 150px transparent;
    border-left: solid 150px $white;
  }

  .card-title {
    z-index: 2;
    left: 4px;
    color: $orange_bistre;
    font-size: $fontsize-L;
    margin: 0;
    position: absolute;
  }

  .card-img {
    overflow: hidden;
  }

  .card-body {
    padding: 32px;
    background-color: $white-smoke;

    .card-text {
      margin: 0;
      height: 64px;
      font-size: $fontsize-S;
      font-family: $fontfamily-gothic;
      text-align: center;
      position: relative;
    }

    a.button {
      margin: auto;
    }
  }

  @media screen and (min-width: $breakpoint-md) {
    height: 567px;

    .card-img {
      height: 384px;

      .card-img-top {
        height: 384px;
        transition: ease 0.5s;

        &:hover {
          cursor: pointer;
          transform: scale(1.2, 1.2);
        }
      }
    }
  }
}
