@use "../../variables" as *;

.card {
  width: 224px;

  .card-title {
    color: $orange_bistre;
    font-size: $fontsize-L;
    font-family: $fontfamily-gothic;
    margin: 0;
    width: 150px;
    height: 150px;
  }

  .card-img-top {
    width: 224px;
  }

  .card-body {
    width: 224px;
    background-color: $white-smoke;

    .card-text {
      margin-bottom: 30px;
      font-size: $fontsize-S;
      font-family: $fontfamily-gothic;
      text-align: center;
    }
  }

  a.button {
    height: 55px;
    width: 150px;
    background-color: $black;
    padding: 0 16px;
    transition: ease 0.2s;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0 17px;

    span {
      font-size: $fontsize-S;
      color: $white;
    }

    &:hover {
      text-decoration: none;
      background-color: $orange_bistre;
    }
  }
}
