@use "../../variables" as *;

.titlemore {
  height: 20px;
  display: flex;

  .infomore {
    font-size: $fontsize-S;
    font-family: $fontfamily-gothic;
    color: inherit;
    text-decoration: none;
    margin: 0;
  }

  i {
    left: 5px;
    margin-left: 16px;
    line-height: 20px;
  }
  &:hover {
    color: $gray_nobel;
    transition: ease 0.2s;
  }
}
