@use "../../variables" as *;

.infomore {
  font-size: $fontsize-S;
  font-family: $fontfamily-gothic;
  color: $black;
  margin: 0;
  transition: ease 0.2s;

  &:hover {
    text-decoration: none;
    color: $gray_nobel;

    ~ i {
      color: $gray_nobel;
    }
  }

  i {
    margin-left: 16px;
    line-height: 20px;
  }
}
