<nav class="navbar navbar-expand-xl navbar-dark bg fixed-top">
  <a class="navbar-brand" href="#"
    ><img class="switch-logo" src="./logo.png" alt="switchロゴ"
  /></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#"
          ><span class="nav-link-item">HOME</span>
          <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link"
          href="#"
          id="navbarDropdownMenuLink"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <div class="concept-outer">
            <span class="concept">CONCEPT</span>
            <img
              class="icon-plus"
              src="./Property 1=plus.png"
              alt="プラスアイコン"
            />
          </div>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#"
            ><span class="dropdown-list">ブログアーカイブ</span></a
          >
          <a class="dropdown-item" href="#">お知らせアーカイブ</a>
          <a class="dropdown-item" href="#">イベントアーカイブ</a>
          <a class="dropdown-item" href="#">インタビューアーカイブ</a>
          <a class="dropdown-item" href="#">イベントアーカイブ</a>
          <a class="dropdown-item" href="#">FAQページ</a>
          <a class="dropdown-item" href="#">固定ページ（デフォルト）</a>
          <a class="dropdown-item" href="#">CONCEPT</a>
          <a class="dropdown-item" href="#">SERVICE</a>
          <a class="dropdown-item" href="#">FLOOR</a>
          <a class="dropdown-item" href="#">ACCESS</a>
        </div>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#"
          ><span class="nav-link-item">SERVICE</span>
          <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#"
          ><span class="nav-link-item">FLOOR</span>
          <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#"
          ><span class="nav-link-item">INTERVIEW</span>
          <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#"
          ><span class="nav-link-item">BLOG</span>
          <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#"
          ><span class="nav-link-item">ACCESS</span>
          <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#"
          ><span class="nav-link-item">DOWNLOAD</span>
          <span class="sr-only">(current)</span></a
        >
      </li>
    </ul>
  </div>
</nav>
