<header class="navbar header navbar-expand-xl navbar-dark">
  <a class="navbar-brand" href="#"
    ><img class="switch-logo" src="./logo.png" alt="switchロゴ"
  /></a>
  <button
    class="navbar-toggler navbar-toggler-button"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav nav-item-outer">
      <li class="nav-item header-item active">
        <a class="nav-link" href="#"
          ><span class="nav-link-item">HOME</span>
        </a>
      </li>
      <p class="concept-outer">
        <a class="nav-link" href="#">CONCEPT </a>
        <button
          class="btn btn-primary icon-plus-outer"
          type="button"
          data-toggle="collapse"
          data-target="#collapseExample"
          aria-expanded="false"
          aria-controls="collapseExample"
        >
          <img
            class="icon-plus"
            src="./Property 1=plus.svg"
            alt="プラスアイコン"
          />
        </button>
      </p>
      <div class="collapse dropdown-menu-outer" id="collapseExample">
        <div class="card dropdown-menu">
          <a class="dropdown-item dropdown-item-link" href="#"
            >ブログアーカイブ</a
          >
          <a class="dropdown-item dropdown-item-link" href="#"
            >お知らせアーカイブ</a
          >
          <a class="dropdown-item dropdown-item-link" href="#"
            >イベントアーカイブ</a
          >
          <a class="dropdown-item dropdown-item-link" href="#">FAQページ</a>
          <a class="dropdown-item dropdown-item-link" href="#"
            >固定ページ（デフォルト）</a
          >
          <a class="dropdown-item dropdown-item-link" href="#">CONCEPT</a>
          <a class="dropdown-item dropdown-item-link" href="#">SERVICE</a>
          <a class="dropdown-item dropdown-item-link" href="#">FLOOR</a>
          <a class="dropdown-item dropdown-item-link" href="#">ACCESS</a>
        </div>
      </div>
      <li class="nav-item header-item active">
        <a class="nav-link" href="#"
          ><span class="nav-link-item">SERVICE</span>
        </a>
      </li>
      <li class="nav-item header-item active">
        <a class="nav-link" href="#"
          ><span class="nav-link-item">FLOOR</span>
        </a>
      </li>
      <li class="nav-item header-item active">
        <a class="nav-link" href="#"
          ><span class="nav-link-item">INTERVIEW</span>
        </a>
      </li>
      <li class="nav-item header-item active">
        <a class="nav-link" href="#"
          ><span class="nav-link-item">BLOG</span>
        </a>
      </li>
      <li class="nav-item header-item active">
        <a class="nav-link" href="#"
          ><span class="nav-link-item">ACCESS</span>
        </a>
      </li>
      <li class="nav-item header-item active">
        <a class="nav-link" href="#"
          ><span class="nav-link-item">DOWNLOAD</span>
        </a>
      </li>
    </ul>
  </div>
</header>
