<div class="organisms-news">
  <div class="news-and-events-title">
    <h2 class="news">News</h2>
    <p class="info">お知らせ</p>
  </div>
  <div class="news-info-frame">
    <article class="news-info-outer">
      <a href="#" class="news-info-link">
        <time class="news-data">2018.16.20</time>
        <p class="news-article">
          ブックカフェ・コワーキング系サイト向けテーマ「Switch」をリリースしました。
        </p>
      </a>
    </article>
    <article class="news-info-outer">
      <a href="#" class="news-info-link">
        <time class="news-data">2018.16.18</time>
        <p class="news-article">
          3種のレイアウトから選択できるテンプレートを固定ページに実装。
        </p>
      </a>
    </article>
    <article class="news-info-outer">
      <a href="#" class="news-info-link">
        <time class="news-data">2018.16.12</time>
        <p class="news-article">
          利用者からのご質問をまとめた「FAQ」ページをアップしました。
        </p>
      </a>
    </article>
    <article class="news-info-outer">
      <a href="#" class="news-info-link">
        <time class="news-data">2018.16.08</time>
        <p class="news-article">
          デモ用のサンプルデータを表示する「インポート機能」でサイト構築を快適に？
        </p>
      </a>
    </article>
    <article class="news-info-outer">
      <a href="#" class="news-info-link">
        <time class="news-data">2018.16.02</time>
        <p class="news-article">テーマのアップデート情報について</p>
      </a>
    </article>
  </div>
  <a href="#" class="info-more"
    >お知らせ一覧
    <i
      href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
      rel="stylesheet"
      class="fas fa-chevron-right"
    ></i>
  </a>
</div>
