@use "../../variables" as *;

.organisms-news {
  width: 460px;

  .news-and-events-title {
    margin-bottom: 32px;
  }

  .news-info-frame {
    margin-bottom: 30px;
    width: 460px;

    .news-info-outer {
      border: solid 1px $gray_gainsboro;
      height: 85px;
      background-color: $white;
      list-style-type: none;

      .news-info-link {
        text-decoration: none;

        .news-data {
          font-size: $fontsize-XS;
          color: $gray_nobel;
          font-family: $fontfamily-gothic;
          margin: 0;
          padding: 20px 0 0 20px;
        }

        .news-article {
          color: $black;
          font-size: $fontsize-M;
          font-family: $fontfamily-gothic;
          margin: 0;
          padding: 8px 0 0 20px;
          transition: ease 0.2s;

          &:hover {
            color: $gray_gainsboro;
          }
        }
      }
    }
  }

  .info-more {
    margin-left: 346px;
  }
}
