@use "../../variables" as *;

.news-and-events-title {
  margin-bottom: 32px;
}

.news-info-frame {
  margin-bottom: 30px;

  .news-info-outer {
    border-bottom: solid 1px $gray_gainsboro;
    border-left: solid 1px $gray_gainsboro;
    border-right: solid 1px $gray_gainsboro;
    height: 85px;
    background-color: $white;
    padding: 1px 20px 0 20px;

    &:first-child {
      border: solid 1px $gray_gainsboro;
    }

    .news-info-link {
      text-decoration: none;

      .news-data {
        display: block;
        font-size: $fontsize-XS;
        color: $gray_nobel;
        margin-top: 20px;
      }

      .news-info {
        color: $black;
        font-size: $fontsize-M;
        margin-top: 3px;
        transition: ease 0.2s;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        &:hover {
          color: $orange_bistre;
        }
      }
    }
  }
}

.info-more-outer {
  display: block;
  text-align: right;
}
