<div class="organisms-news">
  <div class="news-and-events-title">
    <h2 class="news">News</h2>
    <p class="info">お知らせ</p>
  </div>
  <div class="news-info-frame">
    <article class="news-info-outer">
      <a href="#" class="news-info-link">
        <time class="news-data">2018.16.20</time>
        <h6 class="news-info">
          ブックカフェ・コワーキング系サイト向けテーマ「Switch」をリリースしました。
        </h6>
      </a>
    </article>
    <article class="news-info-outer">
      <a href="#" class="news-info-link">
        <time class="news-data">2018.16.18</time>
        <h6 class="news-info">
          3種のレイアウトから選択できるテンプレートを固定ページに実装。
        </h6>
      </a>
    </article>
    <article class="news-info-outer">
      <a href="#" class="news-info-link">
        <time class="news-data">2018.16.12</time>
        <h6 class="news-info">
          利用者からのご質問をまとめた「FAQ」ページをアップしました。
        </h6>
      </a>
    </article>
    <article class="news-info-outer">
      <a href="#" class="news-info-link">
        <time class="news-data">2018.16.08</time>
        <h6 class="news-info">
          デモ用のサンプルデータを表示する「インポート機能」でサイト構築を快適に？
        </h6>
      </a>
    </article>
    <article class="news-info-outer">
      <a href="#" class="news-info-link">
        <time class="news-data">2018.16.02</time>
        <h6 class="news-info">テーマのアップデート情報について</h6>
      </a>
    </article>
  </div>
  <div class="info-more-outer">
    <a href="#" class="info-more"
      >お知らせ一覧
      <i
        href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
        rel="stylesheet"
        class="fas fa-chevron-right"
      ></i>
    </a>
  </div>
</div>
