<div class="news-and-events-title">
  <h2 class="news">News</h2>
  <p class="info">お知らせ</p>
</div>

<div class="news-info-frame">
  <div class="news-info-outer">
    <a href="#" class="news-info-link">
      <h6 class="news-data">2018.16.20</h6>
      <p class="news-article">
        ブックカフェ・コワーキング系サイト向けテーマ「Swit...
      </p>
    </a>
  </div>
  <div class="news-info-outer">
    <a href="#" class="news-info-link">
      <h6 class="news-data">2018.16.18</h6>
      <p class="news-article">
        3種のレイアウトから選択できるテンプレートを固定ペ...
      </p>
    </a>
  </div>
  <div class="news-info-outer">
    <a href="#" class="news-info-link">
      <h6 class="news-data">2018.16.12</h6>
      <p class="news-article">
        利用者からのご質問をまとめた「FAQ」ページをアップ...
      </p>
    </a>
  </div>
  <div class="news-info-outer">
    <a href="#" class="news-info-link">
      <h6 class="news-data">2018.16.08</h6>
      <p class="news-article">
        デモ用のサンプルデータを表示する「インポート機能」...
      </p>
    </a>
  </div>
  <div class="news-info-outer">
    <a href="#" class="news-info-link">
      <h6 class="news-data">2018.16.02</h6>
      <p class="news-article">テーマのアップデート情報について</p>
    </a>
  </div>
</div>

<a href="#" class="info-more"
  >お知らせ一覧
  <i
    href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
    rel="stylesheet"
    class="fas fa-chevron-right"
  ></i>
</a>
