<div class="footer">
  <div class="contact">
    <img class="logo-black" src="./logo-black.png" alt="Switchロゴ" />
    <p class="footer-info">
      〒532-0011　大阪市淀川区西中島6丁目8-23テスト<br />
      TEL.06-1234-5678 FAX.06-1234-5678　営業時間/9:00-22:00　定休日/不定休
    </p>
    <a href="#" class="icon-link"
      ><i class="fab icon-sns fa-brands fa-facebook-f"></i
    ></a>
    <a href="#" class="icon-link"
      ><i class="fab icon-sns fa-brands fa-twitter"></i
    ></a>
    <a href="#" class="icon-link"
      ><i class="fab icon-sns fa-brands fa-instagram"></i
    ></a>
    <a href="#" class="icon-link"
      ><i class="fas icon-wave fa-solid fa-rss"></i
    ></a>
  </div>
  <div class="row nav-list row-cols-2">
    <div class="col nav-item"><a href="#" class="nav-link">HOME</a></div>
    <div class="col nav-item"><a href="#" class="nav-link">CONCEPT</a></div>
    <div class="col nav-item"><a href="#" class="nav-link">SERVICE</a></div>
    <div class="col nav-item"><a href="#" class="nav-link">FLLOR</a></div>
    <div class="col nav-item"><a href="#" class="nav-link">INTERVIEW</a></div>
    <div class="col nav-item"><a href="#" class="nav-link">BLOG</a></div>
    <div class="col nav-item"><a href="#" class="nav-link">ACCESS</a></div>
    <div class="col nav-item"><a href="#" class="nav-link">DOWNLOAD</a></div>
  </div>
  <div class="footer-bottom-outer">
    <p class="footer-bottom">
      Copyright©WordPressテーマ「Switch(tcd063)」All Rights Reserved.
    </p>
  </div>
</div>
