@use "../../variables" as *;

.title {
  display: flex;
  align-items: center;

  .news {
    font-family: $fontfamily-mincho;
    font-size: $fontsize-L;
    margin: 0;
  }

  .info {
    font-family: $fontfamily-gothic;
    font-size: $fontsize-M;
    margin-left: 16px;
    margin-bottom: 0;
    height: 23px;
  }
}

@media (min-width: $breakpoint-lg) {
  .title {
    .news {
      font-size: $fontsize-XXL;
    }
  }
}
