@use "../../variables" as *;

a.button {
  height: 45px;
  width: 180px;
  display: inline-block;
  background-color: $black;
  transition: ease 0.2s;
  padding: 0 16px 0 16px;

  .button-text {
    font-size: $fontsize-S;
    color: $white;
    display: block;
    text-align: center;
    line-height: 45px;
  }

  &:hover {
    text-decoration: none;
    background-color: $orange_bistre;
  }

  @media screen and (min-width: $breakpoint-md) {
    width: 150px;
    height: 55px;

    .button-text {
      line-height: 55px;
    }
  }

  @media screen and (min-width: $breakpoint-lg) {
    width: 200px;
  }
}
