@use "../../variables" as *;

a.button {
  height: 45px;
  width: 180px;
  text-decoration: none;
  display: inline-block;

  .button-text {
    color: $white;
    transition: 0.2s ease;
    background-color: $black;
    display: block;
    text-align: center;
    line-height: 45px;

    &:hover {
      background-color: $orange_bistre;
    }
  }

  @media screen and (min-width: $breakpoint-md) {
    width: 150px;
    height: 55px;

    .button-text {
      line-height: 55px;
    }
  }

  @media screen and (min-width: $breakpoint-lg) {
    width: 200px;
  }
}
