@use "../../variables" as *;

a.button {
  height: 45px;
  width: 180px;
  text-decoration: none;
  display: inline-block;
  .button-text {
    color: $white;
    transition: 0.2s ease;
    background-color: $black;
    width: 180px;
    height: 45px;
    display: block;
    text-align: center;
    line-height: 45px;

    &:hover {
      background-color: $orange_bistre;
    }
  }
}

@media screen and (min-width: $breakpoint-md) {
  a.button {
    width: 150px;
    height: 55px;
    .button-text {
      width: 150px;
      height: 55px;
      line-height: 55px;
    }
  }
}
@media screen and (min-width: $breakpoint-lg) {
  a.button {
    width: 200px;
    .button-text {
      width: 200px;
    }
  }
}
