<div class="message">
  <h2 class="message-title">ライフスタイルに合わせて選べる多彩なプラン。</h2>
  <p>
    平日のみのプラン、仕事帰りをコアタイムとした夕方以降が中心のプラン、休日をメインとしたプランなど、<br>
    多彩なプランの中からそれぞれのお客様のライフスタイルに合わせてお選びいただけます。<br>
    ビジター料金でのご利用も可能ですので、月額会員登録の前に体験したいという方もぜひご利用ください。
  </p>
</div>
<div class="container plans">
  <ul class="plan">
    <h5 class="plan-text">デイタイムプラン</h5>
    <div class="price-outer">
      <div class="plan-price">
        <span class="mark-yen">￥</span>
        <span class="price">5,000</span>
      </div>
      <p class="unit">月額</p>
    </div>
    <li class="plan-info">入会金0円</p>
    <li class="plan-info">平日:9時～17時</p>
    <li class="plan-info">土日祝:利用ナシ</p>
    <li class="plan-info">コアタイムでの利用に最適なプラン</p>
  </ul>
  <ul class="plan">
    <h5 class="plan-text">スタンダードプラン</h5>
    <div class="price-outer">
      <div class="plan-price">
        <span class="mark-yen">￥</span>
        <span class="price">15,000</span>
      </div>
      <p class="unit">月額</p>
    </div>
    <li class="plan-info">入会金0円</p>
    <li class="plan-info">平日:17時～23時</p>
    <li class="plan-info">土日祝:営業時間全て</p>
    <li class="plan-info">営業時間内で終日ご利用可能なプラン</p>
  </ul>
  <ul class="plan">
    <h5 class="plan-text">プレミアムプラン</h5>
    <div class="price-outer">
      <div class="plan-price">
        <span class="mark-yen">￥</span>
        <span class="price">20,000</span>
      </div>
      <p class="unit">月額</p>
    </div>
    <li class="plan-info">入会金5000円</p>
    <li class="plan-info">平日:営業時間全て</p>
    <li class="plan-info">土日祝:営業時間全て</p>
    <li class="plan-info">フルに使いたい方のためのプレミアムなプラン</p>
  </ul>
</div>
<a href="#" class="button">
  <span>プラン料金</span>
</a>
