@use "../../variables" as *;

.about {
  margin-bottom: 40px;

  .about-container {
    .about-imgs {
      margin: 0;

      .about-img {
        padding: 0;
      }
    }

    .message {
      background-color: $white-smoke;

      .about-message {
        color: $orange_bistre;
        font-family: $fontfamily-mincho;
      }
    }
  }
}
