<section class="news-and-events" id="templates-news-and-events">
  <div class="container container-news-and-events">
    <div class="row row-news-and-events row-cols-1 row-cols-lg-2">
      <div class="col organisms-news">
        <div class="news-and-events-title">
          <h2 class="news">News</h2>
          <p class="info">お知らせ</p>
        </div>
        <div class="news-info-frame">
          <a href="#" class="news-info-link">
            <article class="news-info-outer">
              <time class="news-data">2018.16.20</time>
              <h6 class="news-info">
                ブックカフェ・コワーキング系サイト向けテーマ「Switch」をリリースしました。
              </h6>
            </article>
          </a>
          <a href="#" class="news-info-link">
            <article class="news-info-outer">
              <time class="news-data">2018.16.18</time>
              <h6 class="news-info">
                3種のレイアウトから選択できるテンプレートを固定ページに実装。
              </h6>
            </article>
          </a>
          <a href="#" class="news-info-link">
            <article class="news-info-outer">
              <time class="news-data">2018.16.12</time>
              <h6 class="news-info">
                利用者からのご質問をまとめた「FAQ」ページをアップしました。
              </h6>
            </article>
          </a>
          <a href="#" class="news-info-link">
            <article class="news-info-outer">
              <time class="news-data">2018.16.08</time>
              <h6 class="news-info">
                デモ用のサンプルデータを表示する「インポート機能」でサイト構築を快適に？
              </h6>
            </article>
          </a>
          <a href="#" class="news-info-link">
            <article class="news-info-outer">
              <time class="news-data">2018.16.02</time>
              <h6 class="news-info">テーマのアップデート情報について</h6>
            </article>
          </a>
        </div>
        <div class="info-more-outer">
          <a href="#" class="info-more"
            >お知らせ一覧
            <i
              href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
              rel="stylesheet"
              class="fas fa-chevron-right"
            ></i>
          </a>
        </div>
      </div>
      <div class="col organisms-events">
        <div class="news-and-events-title">
          <h2 class="news">Event</h2>
          <p class="info">イベント</p>
        </div>
        <div class="events-info-frame">
          <a href="#" class="events-info-link">
            <article class="events-info-outer">
              <div class="events-img-outer">
                <img
                  class="events-img"
                  src="../../organisms/events/article-room.png"
                  alt="部屋の画像"
                />
              </div>
              <div class="events-article-outer">
                <h6 class="events-article-title">
                  全ての業種に対応した起業応援セミナーを開催します。
                </h6>
                <time class="events-data">2018.08.23</time>
              </div>
            </article>
          </a>
          <a href="#" class="events-info-link">
            <article class="events-info-outer">
              <div class="events-img-outer">
                <img
                  class="events-img"
                  src="../../organisms/events/article-work.png"
                  alt="仕事の画像"
                />
              </div>
              <div class="events-article-outer">
                <h6 class="events-article-title">
                  第3回Switchクリエイター交流会開催いたします!
                </h6>
                <time class="events-data">2018.08.23</time>
              </div>
            </article>
          </a>
          <a href="#" class="events-info-link">
            <article class="events-info-outer">
              <div class="events-img-outer">
                <img
                  class="events-img"
                  src="../../organisms/events/article-book.png"
                  alt="本の画像"
                />
              </div>
              <div class="events-article-outer">
                <h6 class="events-article-title">
                  Webビジネス初心者の方必見！Webサイト作成講座を3回にわたって開催します。
                </h6>
                <time class="events-data">2018.08.23</time>
              </div>
            </article>
          </a>
        </div>
        <div class="info-more-outer">
          <a href="#" class="info-more">
            イベント一覧
            <i
              href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
              rel="stylesheet"
              class="fas fa-chevron-right"
            ></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
