@use "../../variables" as *;

.row-news-and-events {
  background-color: $white-smoke;
  padding: 56px 0;

  .organisms-events {
    .news-and-events-title {
      margin-bottom: 32px;
    }
  }
}
