@use "../../variables" as *;

.cards {
  .card-outer {
    margin-bottom: 40px;
    .card {
      .card-img {
        border-radius: 0;

        .card-img-top {
          border-radius: 0;
        }
      }
    }

    .card-body {
      padding: 32px 46px;
      background-color: $white-smoke;

      .card-text {
        margin-bottom: 30px;
        line-height: 42px;
        font-size: $fontsize-S;
        text-align: center;
      }

      a.button {
        margin: auto;
      }
    }

    @media screen and (min-width: $breakpoint-md) {
      margin-bottom: 100px;
      .card {
        &:hover .card-img .card-img-top {
          transform: scale(1.2);
        }
      }
      .card-body {
        padding: 32px 35px;
      }
    }
  }
}
