@use "../../variables" as *;

.col {
  .card {
    margin-bottom: 40px;

    .card-img {
      border-radius: 0;

      .card-img-top {
        border-radius: 0;
      }
    }

    .card-body {
      padding-top: 32px;
    }

    @media screen and (min-width: $breakpoint-md) {
      margin-bottom: 100px;

      .card-body {
        height: 570px;
      }
    }

    @media screen and (min-width: $breakpoint-lg) {
      .card-body {
        height: 400px;
      }
    }

    @media screen and (min-width: $breakpoint-xl) {
      .card-body {
        height: 360px;
      }
    }
  }
}
