<div class="row cards row-cols-1 row-cols-md-3">
  <div class="col card">
    <a class="card-link" href="#">
      <h2 class="card-title">CONCEPT</h2>
      <div class="card-img">
        <img
          src="../../../img/concept.png"
          class="card-img-top"
          alt="カフェの内装"
        />
      </div>
    </a>
    <div class="card-body">
      <p class="card-text">
        「本屋」でも「自習室」でもない、新しい空間。それがこのカフェ&コワーキングです。
        お好きなドリンクを飲みながらゆったりと気兼ねなく勉強や仕事に取り組んでいただけます。
      </p>
      <a href="#" class="button">
        <span>コンセプト</span>
      </a>
    </div>
  </div>
  <div class="col card">
    <a class="card-link" href="#">
      <h2 class="card-title">SERVICE</h2>
      <div class="card-img">
        <img
          src="../../../img/service.png"
          class="card-img-top"
          alt="本棚の画像"
        />
      </div>
    </a>
    <div class="card-body">
      <p class="card-text">
        喫茶・軽食を楽しめるカフェスペース。ビジネス書から最新の雑誌まで取りそろえるブックスペース。ブース型のパーソナルワークスペースに、開放感があるコワーキングスペース。
      </p>
      <a href="#" class="button">
        <span>サービス</span>
      </a>
    </div>
  </div>
  <div class="col card">
    <a class="card-link" href="#">
      <h2 class="card-title">FLOOR</h2>
      <div class="card-img">
        <img
          src="../../../img/floor.png"
          class="card-img-top"
          alt="カフェの内装"
        />
      </div>
    </a>
    <div class="card-body">
      <p class="card-text">
        カフェ・ブック・コワーキング。各エリアで異なるコンセプトを持つ当店では、目的や気分に合わせてフロア内を移動することで充実した時間をお過ごしいただけます。
      </p>
      <a href="#" class="button">
        <span>フロアー</span>
      </a>
    </div>
  </div>
</div>
